# {title}

The data in the tables were extracted from  the CCCCO Datamart:
* colleges, from the [College Wage Tracker](http://datamart.cccco.edu/Outcomes/College_Wage_Tracker.aspx) web page.
* summary, from the [System Wage Tracker](http://datamart.cccco.edu/Outcomes/System_Wage_Tracker.aspx) web page. 

